{% extends "base.html" %}
{% block title %}Homepage{% endblock %}
{% block content %}
    
    {% if tag %}
        <h2>Posts tagged with "{{ tag.name }}"</h2>
    {% else %}
    <div class="dropdown" style="float:right;">
        <button class="dropbtn">Sort by date</button>
        <div class="dropdown-content">
          <a href="?order=created">Old</a>
          <a href="?order=-created">Recent</a>
        </div>
    </div>
        <h1>All Questions</h1>
        
    {% endif %}
    {% for question in questions %}
        <div class="page">
            <a href="{% url 'question' question.id %}">
                <p class="question-title">
                    {{ question.title }}
                </p>
            </a>
            <div>
                <p>Tags: 
                    {% for tag in question.tags.all %}
                        <a href="{% url 'question_list_by_tag' tag.slug %}">{{ tag.name }}</a>
                        {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
            
                <p class="question-author">
                    asked by:{{ question.author.username }}
                </p>
            </div>
        </div>

        <hr>
    {% endfor %}

{% endblock %}