{% extends "base.html" %}
{% block title %}{{ question.title }}{% endblock %}

{% block content %}
<h2><b>{{ question.title }}</b></h2>
<p>{{ question.description }}</p>
<span class="author-name">asked by: {{ question.author.username }} </span>
<br>

<h4><b class="comment-section">Comments:</b></h4>
{% for comment in question.questioncomment.all %}
<p class="comment-section">{{ comment.comment }} <span class="comment-name">| commented by: {{ comment.user.username }} </span></p>

{% empty %}
 <p class="comment-section">No Comments yet.</p>
{% endfor %}
<a href="{% url 'question_comment' question.id %}" class="comment-section">Add a comment</a>

<h2><b>Answers:</b></h2>
{% for answer in question.answers.all %}
<div class="answer-list">
    <p class="answer-title">
        {{ answer.answer }}
    </p>
    <p class="answer-author">
        answered by:{{ answer.user.username }}
        {% if request.user == answer.user %}
            <span><a href="{% url 'delete_answer' answer.id %}" class="delete">Delete</a></span>
            <span><a href="{% url 'edit_answer' answer.id %}" class="edit">Edit</a></span>
        {% endif %}
    </p>
</div>

<hr>
{% empty %}
 <p>No Answers yet.</p>
{% endfor %}

{% if request.user.is_authenticated %}

<form method="POST">
    {% csrf_token %}
    {{ answerform.as_p }}

    <p><input type="submit" value="Submit Answer"></p>
</form>
{% else %}<p><b><a href="{% url 'login' %}">Login to answer</a></b></p>
{% endif %}

{% endblock %}